*.js
!jest.config.js
*.d.ts
node_modules
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# Config files
config.json
src/shared/config.json

# Generated site (HTML and JS)
site

!.eslintrc.js
!src/**/*.js
!asyncSrc/**/*.js
!syntheticsSrc/**/*.js
!site/js/**/*.js
!siteTemplates/js/**/*.js
